{% extends "base.html" %}
{% load article_tags %}

{% block sidebar %}
<ul>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Article</a></li>
</ul>
<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" />

<ul id="search-results">
</ul>

{% endblock %}


{% block content %}
<h2>Language is: {{language}}</h2>
<h2>Session Language is: {{session_language}}</h2>
{% if articles.count > 0 %}
	{% for a in articles %}
	<div>
		<h2><a href="/article/{{ a.id }}">{{ a.title }} ({{ a.id }})</a></h2>

		<p>{{a.body|lower|article_shorten_body:"10" }}</p>
		<p>{{a.body|lower|truncatewords:"10" }}</p>
            <p>{{a.likes}} people likes this article</p>
	</div>
	{% endfor %}
{% else %}
<p>None to show ...</p>
{% endif %}
{% endblock %}
