{% extends "base.html" %}

{% block content %}

<h1>{{ article.title }} ({{ id }})</h1>
<p>{{ article.body }}</p>

{% if article.thumbnail %}
<p><img src="/static/media/{{article.thumbnail}}" width="200" /></p>
{% endif %}

<p>{{article.likes}} people likes this article</p>
<p><a href="/articles/like/{{article.id}}">Like</a></p>

<h2>Comments</h2>
{% for c in article.comment_set.all %}
  <p>{{c.name}}: {{c.body}}</p>
{% endfor %}

<p><a href="/articles/add_comment/{{article.id}}">Add Comment</a></p>

{% endblock %}
