{% extends "base.html" %}

{% block content %}

<ul><li><a href="/articles/all">Cancel</a></li></ul>


<form action="/articles/create/" method="post" enctype="multipart/form-data">{% csrf_token %}
<ul>
{{form.as_ul}}
</ul>

<input type="submit" nam="submit" value="Create Article">

</from>

{% endblock %}
