{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}My Base Template{% endblock %}</title>

	<link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static "assets/js/ajax.js" %}"></script>

</head>

<body>
	<div id="page">

    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/articles/all">Articles</a></li>
            <li><a href="/articles/create">Create Article</a></li>
            <li><a href="/admin/">Admin</a></li>
        </ul>
        {% endblock %}
    </div>


    <div id="content">

	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}

        {% block content %}This is the content area{% endblock %}

	<div class="clearfix"></div>
	<img src="{% static "assets/images/python-logo.jpg" %}" width="200"/>
    </div>

	</div>

</body>
</html>
