{% extends "base.html" %}

{% block content %}

    <h2>Hi {{full_name}} your are now logged in!</h2>
    <p>Click <a href="/accounts/logout/">here</a> to logout.</p>

    <p>Click <a href="/accounts/profile/">here</a> to edit your profile information.</p>

{% endblock %}
